html {
    color: black;
}

h1 {
    text-align: center;
    margin: 3%;
}

.menu {
    text-align: center;
}

.menu a {
    text-align: center;
    font-size: 30px;
    margin: 1.5%;
    text-decoration: none;
    color: black;
}

#menu,
#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline-block;
    position: relative;
    border-radius: 9px;
    margin-left: 1%;
    margin-right: 1%;
}

#menu ul li {
    display: inherit;
    border-radius: 0;
}

#menu ul li:hover {
    border-radius: 0;
}

#menu ul li:last-child {
    border-radius: 0 0 9px 9px;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu li:hover ul {
    max-height: 30em;
}

/* background des liens menus */

#menu li:first-child,
#menu li:nth-child(2),
#menu li:nth-child(3),
#menu li:nth-child(4),
#menu li:nth-child(5),
#menu li:nth-child(6),
#menu li:nth-child(7) {
    background-image: -webkit-linear-gradient(left, #5C258D 0%, #4389A2 100%);
    background-image: linear-gradient(to right, #5C258D 0%, #4389A2 100%);
}

/* background des liens sous menus */

#menu li:first-child li,
#menu li:nth-child(2) li,
#menu li:nth-child(3) li,
#menu li:nth-child(4) li,
#menu li:nth-child(5) li,
#menu li:nth-child(6) li,
#menu li:nth-child(7) li {
    background: #9876b6;
}

/* background des liens menus et sous menus au survol */

#menu li:first-child:hover,
#menu li:first-child li:hover,
#menu li:nth-child(2):hover,
#menu li:nth-child(2) li:hover,
#menu li:nth-child(3):hover,
#menu li:nth-child(3) li:hover,
#menu li:nth-child(4):hover,
#menu li:nth-child(4) li:hover,
#menu li:nth-child(5):hover,
#menu li:nth-child(5) li:hover,
#menu li:nth-child(6):hover,
#menu li:nth-child(6) li:hover,
#menu li:nth-child(7):hover,
#menu li:nth-child(7) li:hover {
    background: #90b8c7;
}

/* les liens */
#menu a {
    text-decoration: none;
    display: block;
    padding: 8px 32px;
    color: rgb(255, 255, 255);
}

#menu ul a {
    padding: 8px 0;
}

#menu li:hover li a {
    color: rgb(0, 0, 0);
    text-transform: inherit;
}

#menu li:hover a,
#menu li li:hover a {
    color: rgb(0, 0, 0);
}