.paire {
	width:1425px;
	height:50px;
    background-color: 
    rgb(22, 144, 165)
    }
.impaire {
        width:1425px;
        height:50px;
        background-color: 
        rgb(214, 58, 30)
        } 